* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
}
.container {
    flex-direction: column;
    justify-content: space-around;
}

.header {
    text-align: center;
    padding: 5%;
}

.picks {
    flex-direction: column;
    text-align: center;
    padding: 5%;
}

.score {
    flex-direction: column;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 3%;
    font-weight: bold;
}